

page-employees-detail {
  .item-profile {
    width: 100px;
    background-position: center center;
    position: center;
    background-size: cover;
    height: 100px;
  }

  .employees-detail {
    width: 100%;
    background: white;
    position: absolute;
  }
}
