
<ion-header>

  <ion-navbar>
    <ion-title>Столпы времени</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label>Сотрудник: </ion-label>
    <ion-select [(ngModel)]="selectedUser" submitText="Выбрать" cancelText="Назад">
      <ion-option *ngFor="let user of users" [value]="user">{{ user.name }}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Неделя: </ion-label>
    <ion-datetime displayFormat="DD.MM.YYYY" pickerFormat="DD.MM.YYYY" [(ngModel)]="startTime"></ion-datetime>
  </ion-item>

  <button ion-button full (click)="loadReport()">загрузить отчет</button>

  <ng-container *ngIf="showData">
    <ion-card>
      <ion-card-header>
        Bar Chart
      </ion-card-header>
      <ion-card-content>
        <canvas #barCanvas></canvas>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
