<!--
  Generated template for the EattimeReportListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Пожиратели времени</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Сотрудник: </ion-label>
    <ion-select [(ngModel)]="selectedUser" submitText="Выбрать" cancelText="Назад">
      <ion-option *ngFor="let user of users" [value]="user">{{ user.name }}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>От:</ion-label>
    <ion-datetime displayFormat="DD.MM.YYYY" pickerFormat="DD.MM.YYYY" [(ngModel)]="startTime"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>До:</ion-label>
    <ion-datetime displayFormat="DD.MM.YYYY" pickerFormat="DD.MM.YYYY" [(ngModel)]="endTime"></ion-datetime>
  </ion-item>

  <button ion-button full (click)="loadReport()">загрузить отчет</button>

  <ng-container *ngIf="showData">
    <ion-item padding>
      <ion-avatar item-start>
        <img [src]="selectedUser.photo">
      </ion-avatar>
      <h1>{{selectedUser.name}}</h1>
    </ion-item>

    <ion-list padding>
      <ion-item>
        <ion-icon name="laptop" item-start></ion-icon>
        <h2>Приложения</h2>
      </ion-item>
      <ion-row *ngFor="let app of apps">
        <ion-col>
          <p>{{ app.name }}</p>
        </ion-col>
        <ion-col>
          <p>{{ app.time }}</p>
        </ion-col>
      </ion-row>
    </ion-list>

    <ion-list padding>
      <ion-item>
        <ion-icon name="globe" item-start></ion-icon>
        <h2>Сайты</h2>
      </ion-item>
      <ion-row *ngFor="let site of sites">
        <ion-col>
          <p>{{ site.url }}</p>
        </ion-col>
        <ion-col>
          <p>{{ site.time }}</p>
        </ion-col>
      </ion-row>
    </ion-list>
  </ng-container>


</ion-content>
